*.coverdata
*.db
*.db-*
*.ez
*.log
*.sqlite
*.sqlite3
*.swo
*.swp
*~
._*
.direnv/
.DS_Store
.env
.env.*
.idea/
.Spotlight-V100
.Trashes
.vscode/
/.fetch
/_build/
/assets/
/cover/
/deps/
/doc/
/tmp/
apps/*/*.coverdata
apps/*/priv/static/**/*.gz
apps/*/priv/static/cache_manifest.json
blog.db*
blog_test.db*
ehthumbs.db
erl_crash.dump
node_modules/
npm-debug.log*
rel/
Thumbs.db
/priv/
mcp-proxy
bin/
.crates.toml
.crates2.json
ecto_litefs/
