# Enables shell history for Erlang/Elixir REPL
export ERL_AFLAGS="-kernel shell_history enabled";

# Application configuration
export BLOG_HOST="localhost";
export BLOG_PORT="4000";
export SECRET_KEY_BASE="rTpAPJVKdBlNC5XxpJRNOPSX7F9900z50riy1JCY0BVkvSEyzJlOwpco8m2ieorn";

# SQLite configuration
export DATABASE_PATH="./blog.db";

# PostgreSQL configuration
export DATABASE_URL="ecto://postgres:postgres@localhost:3108/blog_dev"
export POSTGRES_DB="blog_dev"
export POSTGRES_USER="postgres"
export POSTGRES_PASSWORD="postgres"
export POSTGRES_PORT="3108"

if ! has nix_direnv_version || ! nix_direnv_version 2.4.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.4.0/direnvrc" "sha256-XQzUAvL6pysIJnRJyR7uVpmUSZfc7LSgWQwq/4mBr1U="
fi

use flake
