@layer components {
  .empty-state {
    position: relative;
    min-block-size: 20lh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: var(--space-line);
    background-color: var(--color-bg-primary);
    background-image: repeating-linear-gradient(
      -60deg,
      var(--color-bg-secondary) 0px,
      var(--color-bg-secondary) 2px,
      transparent 2px,
      transparent 12px
    );
    background-clip: content-box;
    background-origin: content-box;
  }

  .empty-state-message {
    position: relative;
    padding: var(--space-line) var(--space-2);
    background-color: var(--color-bg-primary);
    outline: 1px solid var(--color-fg-secondary);
    outline-offset: -1px;
    color: var(--color-fg-primary);
    text-align: center;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      inline-size: calc(100% + 2 * var(--space-1));
      block-size: calc(100% + 2 * var(--space-line));
      inset-inline-start: calc(-1 * var(--space-1));
      inset-block-start: calc(-1 * var(--space-line));
      background-color: var(--color-bg-primary);
      z-index: -1;
    }
  }

  .empty-state-inline {
    color: var(--color-fg-secondary);
    font-style: italic;
  }
}
