@layer components {
  .post {
    margin-block-end: var(--space-line);
  }

  .post-title {
    display: flex;
    align-items: baseline;
    gap: var(--space-2);
    flex-wrap: wrap;
    margin-block-end: var(--space-line);
  }

  .post-published,
  .post-read-time {
    color: var(--color-fg-secondary);
  }
}
