@layer components {
  .post-list-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-line) 0;

    /* Prevent badge from stretching */
    & > .badge {
      align-self: flex-start;
    }
  }

  .post-list-content {
    & > p {
      margin: 0;
      color: var(--color-fg-secondary);
    }
  }

  .post {
    margin-block-end: var(--space-line);
  }

  .post-title {
    display: flex;
    align-items: baseline;
    gap: 0 var(--space-2);
    flex-wrap: wrap;
    margin-block-end: var(--space-line);
  }

  .post-published,
  .post-read-time {
    color: var(--color-fg-secondary);
  }

  .posts-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .post-item {
    padding-block: var(--space-line);
    border-block-end: 1px solid var(--color-bg-secondary);
    margin-block-end: -1px;

    &:last-child {
      border-block-end: none;
      margin-block-end: 0;
    }

    & .post-header {
      display: flex;
      align-items: flex-start;
      gap: 0 var(--space-1);
    }

    & .post-index {
      color: var(--color-fg-secondary);
      flex-shrink: 0;
    }

    & .post-content {
      display: flex;
      flex-direction: column;
      gap: 0;
      flex: 1;
    }

    & h2 {
      margin: 0;
      font-size: inherit;
      font-weight: var(--font-weight-normal);

      &::before {
        content: none;
      }
    }

    & .post-excerpt {
      margin: 0;
      margin-block-start: var(--space-line);
    }

    & .tags {
      margin: 0;
    }

    & .post-meta {
      display: flex;
      align-items: center;
      color: var(--color-fg-secondary);
      flex-wrap: wrap;

      & time {
        white-space: nowrap;
      }

      &>* {
        margin-inline-end: var(--space-1);
      }

      &>*:not(:last-child)::after {
        content: "|";
        color: var(--color-fg-dim);
        margin-inline-start: var(--space-1);
      }
    }
  }

}
