@layer components {
  .project-list-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-line) 0;

    /* Prevent badge from stretching */
    & > .badge {
      align-self: flex-start;
    }
  }

  .project-list-content {
    & > p {
      margin: 0;
      color: var(--color-fg-secondary);
    }
  }

  .projects-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .project-item {
    padding-block: var(--space-line);
    border-block-end: 1px solid var(--color-bg-secondary);
    margin-block-end: -1px;

    &:last-child {
      border-block-end: none;
      margin-block-end: 0;
    }

    & .project-header {
      display: flex;
      align-items: flex-start;
      gap: 0 var(--space-1);
    }

    & .project-index {
      color: var(--color-fg-secondary);
      flex-shrink: 0;
    }

    & .project-content {
      display: flex;
      flex-direction: column;
      gap: 0;
      flex: 1;
    }

    & h2 {
      margin: 0;
      font-size: inherit;
      font-weight: var(--font-weight-normal);

      &::before {
        content: none;
      }
    }

    & .project-description {
      margin: 0;
      margin-block-start: var(--space-line);
    }

    & .tags {
      margin: 0;
    }

    & .project-meta {
      display: flex;
      align-items: center;
      color: var(--color-fg-secondary);
      margin-block-start: var(--space-line);

      &>* {
        margin-inline-end: var(--space-1);
      }

      &>*:not(:last-child)::after {
        content: "|";
        color: var(--color-fg-dim);
        margin-inline-start: var(--space-1);
      }
    }
  }

  .projects-list-empty {
    padding-block: var(--space-line);
    text-align: center;
    color: var(--color-fg-secondary);
  }
}
