@layer components {
  .state-message {
    display: flex;
    align-items: start;
    gap: var(--space-2);
    border-inline-start: 1px solid;
    margin-inline-start: -1px;
    padding-inline-start: var(--space-2);
    margin-block-end: var(--space-line);
    color: var(--color-fg-secondary);
  }

  .state-message.info {
    border-color: var(--color-info);
  }

  .state-message.info .icon {
    color: var(--color-info);
  }

  .state-message.error {
    border-color: var(--color-error);
  }

  .state-message.error .icon {
    color: var(--color-error);
  }

  .state-message.loading {
    border-color: var(--color-accent);
  }

  .state-message.loading .icon {
    color: var(--color-accent);
  }

  .state-message > div {
    flex: 1;
  }
}
