@layer components {
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--space-1);
  }

  .tag {
    color: var(--color-accent);
    text-decoration: none;

    &::before {
      content: '#';
      margin-inline-end: -1ch;
    }

    &.tag-active {
      background-color: var(--color-accent);
      color: var(--color-bg-primary);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .tag-filter {
    display: flex;
    flex-direction: column;
    gap: var(--space-line) 0;
  }

  .tag-filter-label {
    color: var(--color-fg-secondary);
  }

  .tag-filter-clear {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .tags-empty {
    color: var(--color-fg-secondary);
    font-style: italic;
    margin: 0;
  }
}
