@layer components {

  .toc-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 26lh;
  }

  .toc-item {
    /* Indent: cumulative (+2ch, +3ch, +4ch, +5ch, +6ch) */
    &[data-level="2"] {
      padding-inline-start: var(--space-2);
    }
    
    &[data-level="3"] {
      padding-inline-start: calc(var(--space-4) + var(--space-1));
    }
    
    &[data-level="4"] {
      padding-inline-start: calc(var(--space-8) + var(--space-1));
    }
    
    &[data-level="5"] {
      padding-inline-start: calc(var(--space-8) + var(--space-4) + var(--space-2) + var(--space-1));
    }
    
    &[data-level="6"] {
      padding-inline-start: calc(var(--space-8) + var(--space-8) + var(--space-4) + var(--space-1));
    }

    &[data-active="true"] {
      & .toc-link {
        color: var(--color-accent);
      }
      
      & .toc-marker {
        color: var(--color-accent);
      }
    }
  }

  .toc-link {
    color: var(--ansi-cyan);
    text-decoration: none;
    display: block;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .toc-marker {
    color: var(--ansi-cyan);
  }

  .toc-empty {
    color: var(--color-bg-secondary);
  }
}
