@layer components {
  .toc {
    border: 1px solid var(--color-bg-secondary);
    padding: var(--space-line);
  }

  .toc-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .toc-item {
    margin-block-end: 0;
    
    /* Indent based on heading level */
    &[data-level="2"] {
      padding-inline-start: var(--space-2);
    }
    
    &[data-level="3"] {
      padding-inline-start: var(--space-4);
    }
    
    &[data-level="4"] {
      padding-inline-start: calc(var(--space-4) + var(--space-2));
    }
    
    &[data-level="5"] {
      padding-inline-start: calc(var(--space-4) + var(--space-4));
    }
    
    &[data-level="6"] {
      padding-inline-start: calc(var(--space-4) + var(--space-4) + var(--space-2));
    }

    /* Active state - NO TRANSITIONS */
    &[data-active="true"] {
      & .toc-link {
        color: var(--color-accent);
      }
    }
  }

  .toc-link {
    color: var(--color-fg-primary);
    text-decoration: none;
    display: block;
    
    &:hover {
      color: var(--color-link-hover);
    }
  }
}
